<h1>All cars</h1>
<%= @cars.each do |car| %>
<h2> <%= car.brand %> </h2>
<h2> <%= car.model %> </h2>
<p> <%= car.created_at.strftime("%A, %d %b %Y %l:%M %p") %> </p>
<p><%= car.owner.nickname %></p>
<hr>
<% end %>
<hr>
<%= link_to "Favourites", favourites_path %>
<hr>
 <%# List of all the cars,  their brand and model  details, time added and who owns the car. %>
